<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.security.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.boot.security.entity.UserRole" >
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="com.boot.security.entity.UserRole" >
    insert into user_role (user_id, role_id)
    values (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select user_id, role_id
    from user_role
  </select>
</mapper>